:root{
    /* font family */
    --poppins: "poppins", sans-serif;

    /* colors */
    --primary-color: #ffffff;
    --dark-color: #0F1922;
    --accent-colors: #F5F5F5;
    --light-colors: #F9EAE8;
    --secondary-colors: #FDCD80;
    --border-bottom-color: #CE2927;
   
}
*,
*::before,
*::after{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    font-family: var(--poppins);
    background-color: var(--primary-color);
   
}
img{
    width: 100%;
   
}
i{
    font-size: clamp(1.2rem, 1.375rem + 2vw, 2rem);
    cursor: pointer;
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.container-medium{
    width: 100%;
}

.nav-container{
    background-color: var(--primary-color);
    width: 94%; 
    margin-inline: auto; 
    display: flex;
    justify-content: space-between;
    padding-block: 1.2rem;
    position: sticky;
}
.nav-container p{
   font-family: 'Courier New', Courier, monospace;
   font-weight: 800;
   font-size: clamp(2rem, 1.375rem + 2vw, 2.5rem);
}
.nav-container ul{
   display: none;
}
.nav-container img{
     max-width: 3rem;
}


 /* this is hero section */

 .Hero-section{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* margin: 1rem; */
    /* width: 94%; */

 }
 .Hero-section img{
    max-width: 100%;
 }
 .Hero-section_heading{

 }
 .Hero-section_heading > h1{
    font-size: clamp(2rem, 1.375rem + 2vw, 2.5rem);
 }
.Hero-section_heading > p{
    padding-block: 1rem;
    margin-inline: 1.5rem;
    font-size: clamp(0.5rem, 1.375rem + 2vw, 1rem);;
    
}



@media(width >= 768px){
    .nav-container > ul{
        display: flex;
        gap: 4rem;
        font-size: 1.2rem;
        font-weight: 500;
        padding-block: 0.5rem;
        max-width: 100%;
    } 
    .nav-container > ul li a:hover{
        border-bottom: 2px solid var(--border-bottom-color);
    }
    .fa-bars{
        display: none;
    }
    .Hero-section {
        flex-direction: row;
    }
    .Hero-section > img{
        max-width: 50%;
    }
    
      
}
